{% extends 'base.html' %}

{% block title %}Acceder{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- formulario de envío de datos con autocompletar desactivado y margin-top de 2-->
    <form method="POST" action="" class="mt-2" autocomplete="off">
        {% csrf_token %} <!--validacion autenticacion-->
        {{ form|crispy}} <!--hace refencia a la etiqueta del diccionario de views.py "form": form-->
        <!-- botón de envío de formulario de Bootstrap -->
        <button type="submit" class="btn btn-success">¡Iniciar sesion!</button>
    </form>
{% endblock %}